fastapi==0.125.0
uvicorn[standard]==0.40.0
websockets==16.0
python-multipart==0.0.9
pydantic==1.8.2
motor==3.1.1
pymongo==4.16.0
dnspython==2.8.0
python-dotenv==1.2.1
scikit-learn==1.8.0
numpy==2.4.1
scipy==1.17.0
vosk==0.3.45
pydub==0.25.1
srt==3.5.3
requests==2.32.5